.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}
.soppingCartIcon {
  font-size: 30px;
  margin-right: 32px;
  cursor: pointer;
}
.deleteIcon {
  font-size: 16px;
  cursor: pointer;
  float: right;
}

.btn-chekcout {
  margin-top: 20px;
}
.appHeader {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1px 2px 2px #00000033;
}

.appContent {
  display: flex;
  flex: 1;
  overflow-y: auto;
}

.productSort {
  margin-top: 8px;
  padding-left: 8px;
}
.textFooter {
  color: white;
}
.appFooter {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4c4c4c;
}

.itemCard,
.itemCardBadge {
  margin: 8px;
}
.itemCardImage {
  height: 150px !important;
  object-fit: scale-down;
}

.login-form-forgot {
  float: right;
}

.login-container {
  margin: auto;
}
.login-content {
  width: 600px !important;
}
.login {
  display: flex;
  justify-content: center;
  align-items: center;
}

.block-login {
  display: flex;
  justify-content: space-between;
}

.btn-login {
  margin-right: 16px;
}

.logo-login {
  justify-content: center !important;
}

.login-icon {
  display: flex;
  justify-content: center;
}
.gg-icon {
  margin-right: 16px;
}
